.changepassword {
    width: 70%;
    background-color: rgb(241, 235, 235);
  
    margin-left: 5%;
}

.changepasswordform {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    padding: 2%;
}

.changepasswordformcontrol {
    margin-bottom: 5%;
    margin-top: 5%;
}