.profilecontainer{
    display: flex;
    flex-direction: column;
}
.leftsidebox{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    /* /* margin-top:5%; */
    margin-bottom:5%; 
   
}

.profilebox{
    display: flex;
    margin:2% 
}
.rightsidebox{
    width: 70%;
    margin-bottom:5%; 
}

.componentcontainer{
    height: 500px;
    overflow: scroll;
}

.profilepicture{
    margin-left: 30%;
    width: 40%;
    /* height: 50%; */
    border-radius: 50%;
}

@media only screen and (max-width: 900px) {
    .profilecontainer{
        display: flex;
        flex-direction: column;
    }
    .profilebox{
        display: flex;
        flex-direction: column;
        margin:2% 
    }

    .leftsidebox{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        /* /* margin-top:5%; */
        margin-bottom:3%;   
    }
    .rightsidebox{
        width: 100%;
        margin-bottom:5%; 
    }
    
    .profilepicture{
        margin-left: 25%;
        width: 50%;
        border-radius: 50%;
    }
}