.profilecontainer{
    display: flex;
    flex-direction: column;
}
.leftsidebox{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-top:5%;
    margin-bottom:5%;
   
}

.profilebox{
    display: flex;
    margin:2% 
}
.rightsidebox{
    width: 70%;
}

.componentcontainer{
    height: 500px;
    overflow: scroll;
}